.titulo + .informacion{
    display: none;
}

.titulo.open + .informacion{
    display: block;
}

.titulo{
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}